
  <div class="mypage_contents">
    <%= image_tag @user.userimage, class: "mypage_icon" %>
    <%= @user.username %>
  </div>

  <div class="">
    <%= render partial: "events/event", collection: @events %>
  </div>

  <% if current_user.id == @user.id %>
  <%= link_to "プロフィール編集", edit_user_path(current_user)%>
  <% end %>