.contents {
  height: 280px;
  width: 100%;
  border: 2px solid #CDCDCD;
  margin: 10px 0px 10px 0px;
  background-color:white;
}

.image {
  float: left;
  height: 280px;
  width: 380px;;
}

.event_title{
  color:white;
  font-size:20px;
}


.outline {
  float: right;
}

.user {
  height: 70px;
  width: 70px;
  margin-top:20px;
  margin-right:10px;
}
