html, body, ul, li, h1, h2, h3, h4, h5 {
  margin: 0;
}

body {
 background-color: #F3F3F3;

}

header {
  background-color: #05B0F0;
  height: 80px;
  margin-bottom: 15px;
  width:100%;
  border-bottom: 3px solid #CDCDCD;
  position: fixed;
  top:0;
  z-index: 999;
}

.clearfix:after{
  content: "";
  display: block;
  clear: both;
}


.title {
 float:left;
}


.title_logo {
 margin: 5px 0px 0px 10px;
 width:100px;
 height:auto;
}


.navbar{
  float:right
}


ul {
  padding: 15px;
  list-style: none;
}

ul li {
  margin: 0;
  float: right;
  padding-right: 10px;
}

.nav_event_icon {
  width: 50px;
  height: auto;
}

.nav_user_icon {
  margin-top: 3px;
  margin-right: 6px;
  width: 50px;
  height: auto;
}

.nav_logout_icon{
  width: 50px;
  height: auto;
  margin-top:3px;
}

.login{
  margin-top:80px;
}

