body {
 background-color: #F3F3F3;
}

header {
  background-color: #05B0F0;
  height: 80px;
  width:100%;
  border-bottom: 3px solid #CDCDCD;
}

.title {
  font-size: 30px;
  font-family: sans-serif;
  color: white;
  float: left;
  margin:20px;
}


ul {
  padding: 15px;
  list-style: none;
}

ul li {
  margin: 0;
  float: right;
  padding-right: 10px;
}

.event_icon {
  width: 50px;
  height: 50px;
}

.user_icon {
  width: 50px;
  height: 50px;
}
