html, body, ul, li, h1, h2, h3, h4, h5 {
  margin: 0;
}

body {
 background-color: #F3F3F3;
}

header {
  background-color: #05B0F0;
  height: 150px;
  width:100%;
  border-bottom: 3px solid #CDCDCD;
}

.title {
 float:left;
 width:30%;
 height:auto;
}


.title_logo {
 width:50%;
 height:auto;
}


.navbar{
  float:right
}


ul {
  padding: 15px;
  list-style: none;
}

ul li {
  margin: 0;
  float: right;
  padding-right: 10px;
}

.nav_event_icon {
  margin-top:20px;
  width: 90px;
  height: 90px;
}

.nav_user_icon {
  margin-top:20px;
  width: 90px;
  height: 90px;
}
