nav {
  font: 18px/1.7 "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",Meiryo,"メイリオ","ＭＳ Ｐゴシック",Helvetica,Sans-Serif;
  margin: 20px;
}

/* 親メニュー - Parent nav */
nav > ul > li {
  position: relative;
  float: left;
  margin-right: 15px;
  list-style: none;
}
nav a {
  color: #0bd;
  text-decoration: none;
}
nav ul a:hover {
  color: #0090aa;
}

/* 子メニュー - .sub-menu */
nav .sub-menu {
  position: absolute;
  width: 150px;
  background: #ffffff;
  top: 10px;
  display: none;
  list-style: none;
}
nav .sub-menu a {
  color: black;
  padding: 10px 15px;
  display: block;
}
nav .sub-menu a:hover {
  color: #ffffff;
}

/* ホバー＆フォーカスで子メニュー表示 */
/* Display sub menu by hover & focus */
nav .menu-item-has-children:hover ul,
nav .menu-item-has-children ul.focused {
  display: block;
  border: 2px solid #CDCDCD;
}
nav li.menu-item-has-children li a:hover,
nav li.menu-item-has-children li a:focus {
  background: #05B0F0;
  list-style: none;
}