#show_wrapper {
    position: relative;
    width: 100%;
}

#show_wrapper:before {
    content:"";
    display: block;
    padding-top: 150%;
}

#show_content {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-top: 2px solid #CDCDCD;
    margin-top:20px;
    background-color: #F3F3F3;
}

.show_image {
  width: 100%;
  height: 40%;
  position: relative;
}

.show_title{
  color:white;
  font-size:30px;
  position: absolute;
  bottom:0;
}

.show_info {
  width:100%;
  height: 10%;
  background-color: white;
  border-bottom: 2px solid #CDCDCD;
}

.show_date{
  margin:30px 0px 0px 0px;
  font-size: 20px;
}

.show_paticipants{
  margin-top: 10px;
  padding-top:10px;
  width:100%;
  height: 15%;
  background-color: white;
  border-top: 2px solid #CDCDCD;
  border-bottom: 2px solid #CDCDCD;
}

.show_outline1{
  margin-top: 10px;
  width:100%;
  height: 35%;
  background-color: white;
  border-top: 2px solid #CDCDCD;
  border-bottom: 2px solid #CDCDCD;
}

.show_date{
  float: left;
}

.show_btn{
  width:120px;
  height: 40px;
  font-size:24px;
  text-decoration:none;
  display:block;
  text-align:center;
  color:#fff;
  background-color:#05B0F0;
  float: right;
  margin-top:20px;
  margin-right:30px;
  font-family: "Avenir Next", Verdana, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "游ゴシック", "Yu Gothic", "メイリオ", Meiryo, Osaka, sans-serif;
}



#SkypeButton_Call_sample_1{
  float: right;
  margin: 0px;
}
#SkypeButton_Call_sample_1_paraElement {
  margin: 0;
  img {
    // margin: 20px !important;
  }
}



img {
  margin: 0;
}
.show_user_icon {
  width: 100px;
  height: 100px;
  margin: 10px 20px 10px 20px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}


.comment_outline{
  height: 100%;
  width: 100%;
  border: 2px solid #CDCDCD;
  background-color: white;
  margin: 10px 0px 10px 0px;
}

