.mypage_contents{
  height: 200px;
  width:100%;;
  border: 2px solid #CDCDCD;
  background-color: white;
  margin: 10px 0px 10px 0px;
}

.mypage_icon {
  height: 150px;
  width: 150px;
  border-radius: 150px;
  webkit-border-radius: 150px;
  moz-border-radius: 150px;
  float:left;
}

.mypage_username{
  float:left;
  font-size:200px;
}
